<table>
<tr>
 
<th><th>___Title____________</th></th>
<th><th>(Id)_____</th></th>
<th><th>Description_______________________________________</th></th>
<th><th>Status___________</th></th>
<th><th>Created_at___________</th></th>

</tr>
   
<td><td><li><%= @task.title %></li></td></td>
<td><td><%= @task.id %></td></td>
<td><td><%= @task.description %></td></td>
<td><td><%= @task.status %></td></td>
<td><td><%= @task.created_at %></td></td>

    
    
</tr>


<td><td> 
<div class="trash">
<%= link_to task_path(@task), method: :delete, data: { confirm: "Tem certeza que deseja excluir?" } do %>
<i class="fa fa-trash"></i>
   



<% end %>

  

</table>
<%= link_to 'Back', task_lists_path %> 