      
<table>
<tr>
  <th><th>_Task(ID)____</th></th>
  <th><th>____________________Comments____________________</th></th>
  <th><th>Status___________</th></th>
</tr>



<div class='row justify-content-md-center'>
<ul class="nav nav-tabs">
<li class="nav-item">
<%= link_to 'Tasks Total', task_lists_path(order: 'new'), class: ((params[:order] == 'new') ? "nav-link active" : "nav-link"), id: 'ord_new'%>
 </li>

<li class="nav-item">
<%= link_to 'Tasks Completed', task_lists_path(order: 'old'), class: ((params[:order] == 'old') ? "nav-link active" : "nav-link"), id: 'ord_old'%>
</li>
</ul>
</div> 


<% @task_lists.each do |task_list| %>

<tr>
     
  </div>    
  <td><td><li><%= link_to task_list.id, task_list %></li></td></td>
  <td><td><%= task_list.description %></td></td>
  <td><td><%= task_list.status %></td></td>
  
  
  <td><td><%=  %></td></td>
</tr>

<% end %>


</table>


